# Data files
garminfitfiles/
processedfiles/
output/
mergedfiles/record_mesgs.parquet

# Notebooks
*.ipynb

# Main script in root
main.py

# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/

# macOS
.DS_Store

# IDE
.vscode/

# Tool config
.python-version
pyrightconfig.json
uv.lock
plotly-cloud.toml
